MYSQL_ROOT_PASSWORD=your_password_here
MYSQL_DATABASE=inventory_management
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/inventory_management?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=your_password_here